body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
body.dark {
  background-color: black;
  color: rgb(255, 255, 255);
  transition: background 0.3s linear, color 3sec;
}
.container.dark {
  background-color: white;
  transition: background 0.3s linear;
}
